*{
  font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",sans-serif;
  color: #d2dcef;
  line-height: 1.2;
}
html{
 background: #2E3440 !important;
}
body {
  width: 100%;
  margin: auto;
}
.container{
  width: 960px;
  margin: 0 auto;
}
.header {
  background: #434c5e;
  width: 100%;
  top: 0;
  position:fixed;
}
.logo {
  float: left;
}
.content {
  margin-top: 100px;
}
.content-index {
	margin-top: 0px;
}
.nav a {
  color: #d2dcef;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
.nav li {
  list-style: none;
  float: left;
  margin-left: 15px;
  padding-top: 15px;
}
.nav {
  float: right;
}
a:hover{
 color: #6495ED; 
 text-decoration:none
}

a{
 color:#7694b8; 
 text-decoration:underline
}
.animated {
    animation: fade .5s ease-in;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.warning {
 margin: 2em 0;
 padding: 1em;
 font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
 background-color: #7b4848; 
 font-size: 1em !important;
 font-weight: bold;
 text-indent: initial;
 box-shadow: 0 2px 2px rgba(172, 94, 94, 0.25) !important;
 color: #D8DEE9;
 border-radius: 4px;
}
.info {
 margin: 2em 0 ;
 padding: 1em;
 font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
 background-color: #80783d;
 font-size: 1em !important;
 font-weight: bold;
 text-indent: initial;
 box-shadow: 0 2px 2px rgba(166, 172, 94, 0.25) !important;
 color: #D8DEE9; 
 border-radius: 4px;
}
.blue{
 margin: 2em 0;
 padding: 1em;
 font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
 background-color: #485e7b; 
 font-size: 1em !important;
 font-weight: bold;
 text-indent: initial;
 box-shadow: 0 2px 2px rgba(94,129,172,0.25) !important;
 color: #D8DEE9; !important;
 border-radius: 4px;
 }
.banner {
	width: 100%;
	display: block;
}
.banner > .banner-image {
	width: 100%;
	display: block;
	height: 300px;
	object-fit: cover;
}
li{
  font-size: 1em;
  margin-bottom: 0.5em;
}
code{
  font-family: Monaco,Consolas,"Lucida Console",monospace !important;
  padding: 0.15rem;
  font-size: .9em;
  background: #3c4454;
  border: .2px solid #f3f3f3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.125);
    }
}