html {
    background: #3C4166;
    font-family: "arial";
    color: #e9e9e9
}

.animated {
    animation: fade .5s ease-in;
}
.animated2 {
    animation: fade .5s ease-in;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
